*{
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
}
.top_footer{
    opacity: 0.95;
    background-color: #23262d;
}
.text-top{
    opacity: 0.7;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.icons-top a i{
    color: #FFFFFF;
}
/*/-/-/-/-/-/-/-/-/-/-/===NAV BAR section===/-/-/-/-/-/-/-/-/-/-*/

.toggle, [id^=drop] {
    display: none;
}
.top_nav_bar{
    background-color: #23262d;
}
nav {
    margin: 0;
    padding: 0;
}

#logo {
    padding: 0 30px;
    float: left;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0;
    display: inline-block;
    float: left;
    background-color: #23262d;
}
nav ul li a{
    font-family: DINPro, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
}
nav ul li a:before{
    content: '';
    position: absolute;
    margin-left: 0px;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 3px;
    transition: all 500ms ease;
    background: #3574fa;
}
nav ul li a:hover:before{
    width: 100%;
}

nav ul li a:hover{
    text-decoration: none;
    color: #FFFFFF;
}

nav a {
    display: block;
    padding: 0 20px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav ul li ul li:hover { background: rgba(0, 0, 0, 0.89); }
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

li > a:after { content: ' +'; }

li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav { margin: 0; }

    .toggle + a,
    .menu { display: none; }

    .toggle {
        display: block;
        background-color: #23262d;
        padding: 0 20px;
        color: #FFF;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover { background-color: #000000; }

    [id^=drop]:checked + ul { display: block; }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a { padding: 0 40px; }

    nav ul ul ul a { padding: 0 80px; }

    nav a:hover,
    nav ul ul ul a { background-color: #000000; }

    nav ul li ul li .toggle,
    nav ul ul a { background-color: #23262d; }

    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    nav ul ul li:hover > ul,
    nav ul li:hover > ul { display: none; }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li { position: static;

    }
}

@media all and (max-width : 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }

}